<div>
    <h1> RESTful Website </h1>
    <p class="lead"> Website testing RESTFUL Web technologies.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2> Getting Started </h2>
    </div>
    <div class="col-md-4">
        <h2> Content Here </h2>
    </div>
    <div class="col-md-4">
        <h2> More Content Here </h2>
    </div>
</div>
<h2>View</h2>

